.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width: 500px;
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.top-check{
  width: 100%;
  border:#282c34 1px solid;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-form{
  width: 100%;
  border:#282c34 1px solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top:20px;
}

.col-full{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col-half{
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.col-half >input{
  margin-top:10px;
  width: 97%;
}

.button-div{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}